<footer class=" text-light py-4">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="footer-menu">
                  <a href="#" class="text-light">Mentions légales</a>
                  <a href="#" class="text-light">Données personnelles</a>
                  <a href="#" class="text-light">Accessibilité</a>
                  <a href="#" class="text-light">Cookies</a>
              </div>
          </div>
          <div class="col-md-6">
              <div class="contact-info">
                  <p>101 cours Charlemagne</p>
                  <p>CS 20033</p>
                  <p>69269 LYON CEDEX 02</p>
                  <p>France</p>
                  <p>+33 (0)4 26 73 40 00</p>
              </div>
          </div>
      </div>
  </div>
</footer>
